DOCTYPE 
html
	head
		meta(charset="utf-8")
		meta(name="", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		title Home | Flat Theme
		link(href="css/font-awesome.min.css", rel="stylesheet")
		link(href="css/animate.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="shortcut icon", href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="images/ico/apple-touch-icon-57-precomposed.png")
		link(type="text/css", rel="stylesheet", href="css/materialize.min.css", media="screen,projection")
	body
		header
			nav.marino 
				div.nav-wrapper
					a(href="#").brand-logo
						img(src="images/logo.png" alt="logo")
					a(href="#" data-activates="mobile-demo").button-collapse
						i.material-icons menu
					ul.right.hide-on-med-and-down
						li
							a(href="index.html") Home
						li
							a(href="about-us.html") About Us
						li
							a(href="services.html") Services
						li
							a(href="portfolio.html") Portfolio
						li
							a(href="blog.html") Blog
						li
							a(href="contact-us.html") Contact
					ul.side-nav#mobile-demo
						li
							a(href="index.html") Home
						li
							a(href="about-us.html") About Us
						li
							a(href="services.html") Services
						li
							a(href="portfolio.html") Portfolio
						li
							a(href="blog.html") Blog
						li
							a(href="contact-us.html") Contact



		//- AQUI COMIENZA MI FOOTER	
		footer.marino
			div.row.white-text.pad_left
				div.col.s3
					p About Us
					p Lorem ipsum recusandae omnis ab repellat aspernatur tempore obcaecati voluptas sequ
					p Lorem aecati error perspiciatis, consectetur laudantium.
				div.col.s3
					p Company
					//- esta lista es solo para el HOME
					ul  
						li.breadcrumb Company Overview
						li.breadcrumb Meet the team
						li.breadcrumb Our Awesome Partners
						li.breadcrumb Our Services
						li.breadcrumb Frequently Asked Questions
						li.breadcrumb Contact Us
						li.breadcrumb Privacy Policy
						li.breadcrumb Terms of Use
						li.breadcrumb Copyright
						//- esto es para las pags. de enlace
						//- ul
						//-     li.The Company
						//-     li.Our Team
						//-     li.Our Parters
						//-     li.Our Services
						//-     li.Faq
						//-     li.Contact Us
						//-     li.Privacy Policy
						//-     li.Term of Use
						//-     li.Copyright
				div.col.s3
					h4.white-text.text-white Latest Blog
					.row
						.col.s12.m12.l3
							img(src="images/blog/thumb1.jpg", alt="")
						.col.s12.m12.l9
							p.white-text.text-white Pellentesque habitant morbi tristique senectus
					.row
						.col.s12.m12.l3
							img(src="images/blog/thumb2.jpg", alt="")
						.col.s12.m12.l9
							p.white-text.text-white Pellentesque habitant morbi tristique senectus
					.row
						.col.s12.m12.l3
							img(src="images/blog/thumb3.jpg", alt="")
						.col.s12.m12.l9
							p.white-text.text-white Pellentesque habitant morbi tristique senectus
				div.col.s3
					p Adress
					p Twitter, Inc.
					p 795 Folsom Ave,Suite 600
					p San Francisco,CA 94107
					p P: (123) 456-7890 
					p NEWSLETTER
					//- Enter your email Go!
					form 
						div.input-field
							label(for="search")
								a(href="!#")
							input#search.validate(type="input", placeholder=" Enter your Email" )
						button GO!
			div.row.marino_obs.pad_left
				div.col.s6
					p 2013 ShapeBootstrap.All rights reserved.
				div.col.s6
					//- aqui va otro menú: Home About Us Contact Us +flechita
					ul#dropdown1.dropdown-content
						li
							a(href="!#") one
						li
							a(href="!#") two
						li
							a.divider
						li
							a(href="!#") three
					nav.marino_obs
						div.nav-wrapper
							ul.right.hide-on-med-and-down
								li
									a(href="sass.html") Home
								li
									a(href="badges.html") About Us
								li
									a.dropdown-button(href="#!", data-activates="dropdown1") Contact Us
										i.material-icons.right arrow_drop_up
				
				




	script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
	//- script(src="js/jquery.js")
	script(type="text/javascript" src="js/materialize.min.js")
	script(src="js/main.js")
	

	