DOCTYPE
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="")
		meta(name="author", content="")
		title Home | Flat Theme
		link(href="css/font-awesome.min.css", rel="stylesheet")
		link(href="css/animate.css", rel="stylesheet")
		link(href="sass/main.css", rel="stylesheet")
		link(rel="shortcut icon", href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="images/ico/apple-touch-icon-57-precomposed.png")
		link(type="text/css", rel="stylesheet", href="css/materialize.min.css", media="screen,projection")
	body
		header
			nav
				div.nav-wrapper
					a(href="#").brand-logo
					img(src="./images/logo.png" alt="logo")
					ul.right.hide-on-med-and-down
						li
							a(href="Home") Home
						li
							a(href="AboutUs") About Us
						li
							a(href="Services") Services
						li
							a(href="Portfolio") Portfolio
						li
							a(href="Blog") Blog
						li
							a(href="Contact") Contact
					a(href="#").mobile-demo.button-collapse
					i.material-icons
					ul.side-nav#mobile-demo
						li
							a(href="Home") Home
						li
							a(href="AboutUs") About Us
						li
							a(href="Services") Services
						li
							a(href="Portfolio") Portfolio
						li
							a(href="Blog") Blog
						li
							a(href="Contact") Contact
				div.slider
					ul.slides
						li
							img(src="../images/logo.png" alt="logo")
							.responsive-img
							.caption.center-align
								h3 This is our big Tagline!
								h5.light.grey-text.text-lighten-3 Here&apos;s our small slogan.
						li
							img(src='http://lorempixel.com/580/250/nature/2').responsive-img
							.caption.left-align
								h3 Left Aligned Caption
								h5.light.grey-text.text-lighten-3 Here&apos;s our small slogan.
						li
							img(src='http://lorempixel.com/580/250/nature/3').responsive-img
							.caption.right-align
								h3 Right Aligned Caption
								h5.light.grey-text.text-lighten-3 Here&apos;s our small slogan.
						li
							img(src='http://lorempixel.com/580/250/nature/4').responsive-img
							.caption.center-align
								h3 This is our big Tagline!
								h5.light.grey-text.text-lighten-3 Here&apos;s our small slogan.


		footer
			






	script(src="js/jquery.js")
	script(src="js/main.js")
	script(type="text/javascript" src="js/materialize.min.js")

	